<!DOCTYPE html>
<html>
    <head>
        <title>Meme Website</title>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
           <style> p {
            text-align: center;font-family: Georgia, serif;font-size: 48px;font-style: normal;font-weight: 100;
           }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-2">
                <h4 class ="bg-primary" >Home</h4>
            </div>
            <div class = "col-sm-2">
                <h4 >sign in</h4>
            </div>
            <div class = "col-sm-2">
                <h4 >log out</h4>
            </div>
        </div>
        <P><img src="{{meme}}" alt = "web_meme" ></P>
    </body>
</html>